<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-feature android:name="android.hardware.camera" android:required="true"></uses-feature>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icono_app"
        android:label="Lucky Shot"
        android:logo="@drawable/icono_app"
        android:supportsRtl="true"
        android:theme="@style/TemaLuckyShot"
        tools:targetApi="31">
        <activity
            android:name=".CamaraActivity"
            android:exported="false" />
        <activity
            android:name=".DobleNadaActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".InicioSesionActivity"
            android:exported="false" />
        <activity
            android:name=".RuletaActivity"
            android:exported="false" />
        <activity
            android:name=".ParticipantesActivity"
            android:exported="false" />
        <activity
            android:name=".MainMenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>